* {
  -webkit-user-select: none;
}

body {
  background-image: url('images/cloudbg.png')
}

#alpha_container {
  position: absolute; 
  height: 98%;
  width: 98%;
  border-collapse: collapse;
  display : table;

  left: 10px; 
  right: 10px; 
  top: 10px; 
  bottom: 10px;
}

/*#beta {
  float: left; 
  position: absolute; 
  left: 10px; 
  right: 0px; 
  top: 10px; 
  bottom: 50px;
}*/

/*#beta.row {
  margin: 0px 0px 0px 0px; 
  background: #FFF;
  -webkit-border-radius: 2px;
  height: 100%; 
  overflow: auto;
}*/

.panel {
  margin: 5px 5px 5px 5px;
  float: left;
  height: 300px;
  overflow: scroll;
  width: 23%;  /*TODO:  This needs to be dynamically calculated;*/
}
.well {
  display : table-row;
  vertical-align : bottom;
  height : 1px;
}
.files {
  padding: 0;
  margin: 0;
}

.folders {
  padding: 0;
  margin: 0;
}

.folder {
  padding: 2px;
  margin: 2px;
  width: 200px;
  height: 500px;
  display: inline-block;

  text-align: center;
  vertical-align: top;
}

.file {
  padding: 2px;
  margin: 2px;
  width: 80px;
  display: inline-block;

  text-align: center;
  vertical-align: top;
}

.file.focus {
  background-color: #08C;
  -webkit-border-radius: 4px;
}

.file .name {
  width: 80px;
  word-wrap: break-word;
}

.file.focus .name {
  color: white;
}

.file .icon {
  margin: auto;
  margin-top: 0;
  width: 60px;
}

.file .smallicon {
  margin: auto;
  margin-top: 0;
  width: 20px;
}

.file.focus .icon {
  -webkit-filter: invert(20%);
}
